.Login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url('../../assets/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: -80vh;
  background-position-y: center;

  width: 100vw;
  height: 100vh;
}

.Login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background: rgba(0, 0, 0, 0.73);
  
  width: fit-content;
  height: fit-content;

  margin: 0 auto;
  padding: 24px 18px;

  border: 1px solid rgba(128, 128, 128, 0.289);
  border-radius: 5px;
  z-index: 5;
}

@media only screen and (max-width: 330px) {
  .Login-form {
    width: 100vw;
    min-width: 0;
  }
}