.Login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url('https://images.unsplash.com/photo-1605296867304-46d5465a13f1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: -80vh;
  background-position-y: center;

  width: 100vw;
  height: 100vh;
}

.Login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background: rgba(0, 0, 0, 0.73);
  
  max-width: 400px;
  min-width: 300px;
  max-height: 600px;
  min-height: 400px;

  width: fit-content;
  height: fit-content;

  margin: 0 auto;
  padding: 24px 18px;

  border: 1px solid rgba(128, 128, 128, 0.289);
  border-radius: 5px;
  z-index: 5;
}

@media only screen and (max-width: 330px) {
  .Login-form {
    width: 100vw;
    min-width: 0;
  }
}