.Login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.Login a {
  color: white;
  text-decoration: underline;
}

.Login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  max-width: 400px;
  min-width: 300px;
  max-height: 600px;
  min-height: 400px;

  width: fit-content;
  height: fit-content;

  margin: 0 auto;
  padding: 25px;

  border: 1px solid rgba(128, 128, 128, 0.289);
  border-radius: 20px;
}

@media only screen and (max-width: 330px) {
  .Login-form {
    width: 100vw;
    min-width: 0;
  }
}