.SignUp {
  width: 280px;
  height: 414px;

  position: relative;

  overflow: hidden;
}
.SignUp-creds {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

@media only screen and (max-width: 340px) {
  .SignUp {
    width: 85vw;
  }
}


/* Slides / presentation */
.SignUp-slides-container {
  display: flex;
  align-items: center;
  position: relative;
  overflow: visible;

  transition: left 0.5s;
}
.SignUp-slide {
  width: 280px;
  height: fit-content;

  flex-grow: 0;
  flex-shrink: 0;
}

.SignUp-feedback {
  width: 80%;
  margin: 0 auto;
}
.SignUp-feedback li {
  font-size: 0.8em;
  color: rgb(212, 159, 89);
}
.SignUp-input {
  width: 90%;
  margin: 0 auto;
}

.SignUp-tip {
  margin-bottom: 12px;
}

/* Go back / cancel button */
.SignUp-back {
  position: relative;
  height: 0px;
}
.SignUp-back-arrow {
  display: flex;
  align-items: center;
  position: absolute;
  cursor: pointer;
  
  left: 10px;
  top: 15px;

  opacity: 0.8;
}

.SignUp-cancel {
  display: flex;
  justify-content: center;
  align-items: center;

  bottom: 0px;
  width: 100%;
}
.SignUp-cancel p {
  cursor: pointer;
  width: 80px;
}
.SignUp-cancel p:hover {
  text-decoration: underline;
}

