.SignIn {
  width: 280px;
  height: fit-content;
}
@media only screen and (max-width: 340px) {
  .SignIn {
    width: 85vw;
  }
}

.SignIn-oauth {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.SignIn-oauth > .LoginButton {
  margin-bottom: 12px;
}
.SignIn-oauth > .LoginButton:last-of-type {
  margin-bottom: 0;
}

/* Local Signin section */
.SignIn-local {
  width: 100%;
}
.SignIn-local .SignIn-input {
  height: 40px;
  margin-bottom: 12px;
  border-bottom-width: 1px;
  font-size: 1em;
  border: 1px solid rgba(128, 128, 128, 0.5);
}
.SignIn-local .SignIn-input:focus {
  border: 1px solid rgba(128, 128, 128, 1);
}

/* Forgot Password */
.SignIn-forgot {
  cursor: pointer;
  width: fit-content;
  margin: 0 auto;
  margin-top: 17px;
  font-size: 14px;
  font-weight: 200;
}
.SignIn-forgot:hover,
.SignIn-create:hover {
  text-decoration: underline;
}

.SignIn-create {
  cursor: pointer;
  font-weight: 300;
}

.SignIn-invalid {
  font-size: 0.8em;
  font-weight: 300;

  margin-top: 14px;
  color: rgb(198, 93, 93);
}