.SignIn-oauth {
  display: flex;
  flex-direction: column;
  width: 280px;
}

.SignIn-oauth > .LoginButton {
  margin-bottom: 12px;
}

.SignIn-local {
  width: 280px;
}

.SignIn-create {
  cursor: pointer;
  font-weight: 300;
}

