.Exercise {
  display: flex;
  justify-content: flex-start;

  position: relative;
  white-space: nowrap;
  cursor: pointer;

  flex-shrink: 0;
  flex-grow: 0;

  width: calc(100% - 10px);
  height: 42px;
  
  flex-shrink: 0;

  margin: 5px auto 0 auto;
  padding: 4px 6px;

  border: 2px solid transparent;
  border-radius: 10px;

  transition: border-color 0.2s, background-color 0.2s;
}
.Exercise:last-of-type {
  margin-bottom: 5px;
}
.Exercise h2 {
  font-size: 16px;
  margin-left: 2px;
}

.Exercise.selected {
  border-color: hwb(214 16% 48% / 0.63);
}

.Exercise-details {
  display: flex;
  align-items: center;
}

.Exercise-targets {
  display: flex;
  overflow-x: auto;
  align-items: center;

  position: relative;
  left: 5px;
  bottom: 2px;
}

.Exercise.adding {
  border-color: rgba(97, 112, 139, 0.538);
  background-color:rgb(17, 25, 51) !important;
}

.Exercise-goal {
  margin-left: 11px;
  border: 1px solid rgba(255, 255, 255, 0.177);
  border-radius: 10000px;

  padding: 3px 7px;
}
.Exercise-goal p {
  font-size: 10px !important;
  font-weight: 100 !important;
  margin: 0 !important;
}

.Exercise-position {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  height: 100%;
  width: 35px;
  
  min-width: 25px;
  right: 0px;
  top: 0px;
}
.Exercise-position-number {
  border: 1px solid grey;
  border-radius: 50%;
  padding: 2px 6px;
}

.Exercise .Tag {
  margin: 0;
  margin-top: 4px;
  margin-left: -3px;
}