.Routine {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 0 0 auto;
  cursor: pointer;

  height: 56px;

  width: calc(100% - 10px);
  border-radius: 10px;

  border: 2px solid transparent;

  margin-top: 5px;
  padding: 4px 5px;

  transition: border-color 0.2s;
}
.Routine:last-of-type {
  margin-bottom: 5px;
}

/* Selected routine to be edited */
.Routine.edit {
  border-color: hwb(214 16% 48% / 0.63);
}


.Routine-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}

.Routine-top-nametag {
  display: flex;
  align-items: center;
}
.Routine-tags {
  display: flex;
  align-items: center;
  height: 18px;
  margin-left: 3px;
}

.Routine-intensity {
  display: flex;
  color: rgb(107, 77, 59);
}

.Routine-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.Routine p {
  font-weight: 100;
  font-size: 13px
}

.Routine-duration {
  font-size: 0.9em;
  font-weight: 100;
  opacity: 0.5;
}

.Routine-latest-data {
  display: flex;
  opacity: 0.8;
}

.Routine-latest-data p {
  font-size: 12px;
}

.Routine-details {
  display: flex;
  align-items: flex-end;
}