.AddSet {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  
  height: 340px;
  width: calc(100% - 30px);

  margin: 15px auto;
  border-radius: 10px;
}

.AddSet-modifiers {
  display: flex;
  justify-content: center;
  align-items: center;
}

.AddSet-time {
  margin: 5px;
  width: calc(100% - 20px);
}
