.AddSet {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  
  height: 340px;
  width: calc(100% - 30px);

  margin: 15px auto;
  border-radius: 10px;
}

.AddSet-modifiers {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  overflow-x: auto;

  padding: 2px 0;
}

@media screen and (max-width: 380px) {
  .AddSet-modifiers {
    justify-content: flex-start;
  }
}
@media screen and (min-width: 380px) {
  .AddSet-modifiers {
    justify-content: center;
  }
}

.AddSet-time {
  margin: 5px;
  width: calc(100% - 20px);
}

.AddSet-counter {
  position: relative;
  width: 100%;
  max-width: 300px;
}

.AddSet-counter-label {
  position: absolute;
  font-size: 13px;
  opacity: 0.3;
  top: calc(50% - 7px);
  left: 10px;
}