.Train {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  width: 100%;

  padding: 10px;
  padding-top: 0;
}
.Train p {
  font-size: 13px;
  opacity: 0.9;
  margin: 3px;
}

.Train {
  padding-top: 10px;
}

/* Scheduled workouts */
.Train-scheduled {
  max-height: calc(100% - 12px);
  border-radius: 10px;
  overflow:hidden;
  position:relative;
  top: 15px;
}
.Train-scheduled-info {
  position: absolute;
  padding: 0 15px;
  width: 95%;
  display: flex;
  justify-content: space-between;
}
.Train-scheduled-workouts {
  height: 100%;
  display: flex;
  margin-top: 7px;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  overflow-y: auto;
  min-width: 0;
}


.Train-actions {
  margin: 10px 0;
  flex-shrink: 0;
  flex-grow: 0;
}
.Train-actions > * {
  margin-bottom: 15px;
}

.Train-hr-text {
  margin: 15px auto;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 240px;
}
.Train-hr-text p {
  padding: 0 6px;
  font-weight: 100;
}
.Train-hr-text hr {
  width: 50%;
  margin: 0 auto;
  opacity: 0.3;
}

.Train-modal {
  max-height: 40vh;
}

.Train-routines-search {
  height: 60vh;
  width: 95vw;
  max-width: 600px;

  padding: 8px;
}