.Goal {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 10px;
  
  padding: 15px;
  margin-bottom: 5px;
}

.Goal-left {
  display: flex;
  align-items: center;
  line-height: 1.2;
}
.Goal-left-date {
  font-size: 11px;
  opacity: 0.6;
  margin-left: 10px;
  flex-shrink: 0;
  flex-grow: 0;
}

.Goal-completed {
  display: flex;
  align-items: center;
  color: #0094FF;
  font-size: 12px;
  opacity: 0.8;
}