.WeeklyTarget {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 50px;
  overflow: hidden;
  position: relative;

  /* border: 1px solid #94949437; */

  width: 100%;
  height: 100%;
}

.WeeklyTarget-day {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #727e8925; /* 203956 */

  border-left: 1px solid #71686837;
  
  width: 100%;
  height: 100%;
}
.WeeklyTarget-day.trained {
  background: rgba(40, 112, 95, 0.246);
}
.WeeklyTarget-day:first-child {
  border-left: none;
}
.WeeklyTarget-day p {
  border: 1px solid transparent;
  border-left: none;
  border-right: none;
  font-weight: 200;
}
.WeeklyTarget-day.today p {
  border-bottom: 1px solid rgba(214, 210, 210, 0.542);
  padding: 4px;
}
.WeeklyTarget-day.today p {
  font-weight: 500;
}

.WeeklyTarget-trained {
  position: absolute;
  z-index: 0;

  color: rgba(255, 255, 255, 0.08);
}

.WeeklyTarget-today {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  color: #262424;
  
  height: 120%;
}