.WeeklyTarget {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 50px;
  overflow: hidden;
  position: relative;

  border: 1px solid #71686837;

  width: 100%;
  height: 100%;
}

.WeeklyTarget-day {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0c2e4e25; /* 203956 */

  border-left: 1px solid #71686837;
  
  width: 100%;
  height: 100%;
}
.WeeklyTarget-day.trained {
  background: rgba(37, 107, 91, 0.294);
}
.WeeklyTarget-day:first-child {
  border-left: none;
}
.WeeklyTarget-day.today {
  border: 1px solid rgba(255, 255, 255, 0.257);
}
.WeeklyTarget-day.today p {
  font-weight: 500;
}

.WeeklyTarget-trained {
  position: absolute;
  z-index: 0;

  color: rgba(255, 255, 255, 0.2);
}

.WeeklyTarget-today {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  color: #262424;
  
  height: 120%;
}