
.AddRoutine {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Header */
.AddRoutine h2 {
  font-size: 1.3em;
}

.AddRoutine-preview {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 8px 5px;
  margin: 0 auto;
}

.AddRoutine-form {
  display: flex;
  flex-direction: column;

  text-align: left;

  height: 100%;
  max-height: calc(100% - 110px);
  position: relative;

  padding: 6px;
}
.AddRoutine-form input {
  margin-bottom: 8px;
}

.AddRoutine-name {
  position: relative;
  display: flex;
  align-items: center;
}
.AddRoutine-favourite {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(121, 121, 29);
  padding: 11px;
  position: absolute;
  height: 100%;
  left: -3px;
  top: -4px;
  z-index: 3;
}

/* Add tags input & tags */
.AddRoutine-addtag-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}
.AddRoutine-enter {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  white-space: nowrap;
  font-size: 9px;

  right: -6px;
  top: 1px;

  width: 60px;
}
.AddRoutine-enter > *:first-child {
  opacity: 0.6;
}
.AddRoutine-enter p {
  position: relative;
  top: 7px;
  right: 24px;
  opacity: 0.8;
  align-self: flex-end;
}
.AddRoutine-tags {
  display: flex;
  height: 33px;
  flex-shrink: 0;
  flex-grow: 0;
  overflow-x: auto;
}

/* Duration input */
.AddRoutine-duration {
  position: relative;
}
.AddRoutine-min {
  position: absolute;
  font-weight: 100;
  font-size: 0.85em;
  pointer-events: none;
  opacity: 0.7;

  top: 14px;
}

/* Intensity select */
.AddRoutine-intensity {
  display: flex;
  align-items: center;
  margin-top: 8px;
}
.AddRoutine-intensity-icon {
  opacity: 0.3;
  color: white;
  transition: all 2s;
}
.AddRoutine-intensity-icon.fill {
  color: rgb(206, 140, 100);
  opacity: 1;
}

/* Exercise select */
.AddRoutine-exercises {
  display: flex;
  flex-direction: column;
  padding: 2px;

  flex-basis: 100%;


  margin-top: 15px;
  border-radius: 10px;

  overflow: auto;     
}
.AddRoutine-add-exercise {
  display: flex;
  align-items: center;
  cursor: pointer;

  margin: 16px;
  height: 24px;
}
.AddRoutine-add-exercise > *:last-child {
  margin-left: 8px;
  position: relative;
  font-size: 17px;
  font-weight: 100;
  opacity: 0.8;
}
.AddRoutine-add-exercise:hover > *:last-child {
  text-decoration: underline;
  opacity: 1;
  font-weight: 200;
}
.AddRoutine-exercise {
  margin: 0;
  padding: 0;
}
.AddRoutine-exercise .Exercise {
  margin-bottom: 0px;
  margin-top: 4px;
}

/* Modal */
.AddRoutine-search {
  height: 70vh;
}

/* Save routine */
.AddRoutine-save {
  margin-top: 6px;
}
