
.AddRoutine {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Header */
.AddRoutine h2 {
  font-size: 1.3em;
}

.AddRoutine-preview {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 15px 5px;
  margin: 0 auto;
}

.AddRoutine-form {
  display: flex;
  flex-direction: column;

  text-align: left;

  height: 100%;
  position: relative;

  padding: 18px;
}
.AddRoutine-form input {
  margin-bottom: 8px;
}

.AddRoutine-addtag-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.AddRoutine-enter {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  white-space: nowrap;

  font-size: 9px;

  right: -6px;
  top: 1px;

  width: 60px;
}
.AddRoutine-enter > *:first-child {
  opacity: 0.6;
}

.AddRoutine-enter p {
  position: relative;
  top: 7px;
  right: 24px;
  opacity: 0.8;
  align-self: flex-end;
}

.AddRoutine-tags {
  display: flex;
  overflow-x: auto;
  height: 33px;
}