.Dash {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
  margin: 0 auto;
  padding-bottom: 7vh;

  width: 100%;
  height: 100%;

  max-width: 650px;
}

.Dash-weekly {
  margin: 0 auto;
  height: fit-content;
  width: calc(100% - 32px);
}

.Dash-train {
  width: 100%;
  margin-bottom: 10px;
}