.Profile {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  
  height: 100%;
}

/*  */
/* Avatar & user name */
/*  */
.Profile-avatar {
  border-radius: 50%;
  padding: 2px;
  margin: 20px auto;

  width: fit-content;
}
.Profile-avatar-svg {
  color: rgb(188, 187, 187);
  position: relative;
  top: 13px;
  font-size: clamp(40px, 67px, 7vh);
}
.Profile-avatar-svg path {
  stroke-width: 12;
}
.Profile-circle {
  overflow: hidden;
  border-radius: 50%;
  margin: 3px;
  border: 1px solid rgb(181, 181, 181);
  padding: 3px;
}

.Profile-hr {
  margin: 9px 0;
  opacity: 0.4;
}

/*  */
/* Target */
/*  */
.Profile-weekly-target {
  margin: 4px 0;
  margin-bottom: 8px;
}
.Profile-weekly-target-days.WeeklyTarget {
  margin: 12px auto;

  height: 50px;

  width: 95vw;
  max-width: 430px;
}


/*  */
/* Goals */
/*  */
.Profile-goals {
  display: flex;
  flex-direction: column;
  
  margin-top: 9px;
  
  overflow: hidden;

  padding: 10px;

  height: 100%;
}
.Profile-goals-tabs { 
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  width: 100%;
}
.Profile-goals-tabs p {
  transition: opacity 0.2s;
}
.Profile-goals-tab {
  width: fit-content;

  border-bottom: 3px solid rgba(128, 128, 128, 0.471);
  padding-bottom: 8px;

  transition: border-bottom-color 0.2s;
}
.Profile-goals-wrapper {
  text-align: left;
  
  max-height: 100%;
  margin-top: 10px;

  overflow-y: auto;

  border-radius: 10px;
}
/* Goal component wrapper */
.Profile-goal {
  width: 95%;
  margin: 5px auto;
}
.Profile-goals-add {
  margin: 15px;
  opacity: 0.5;
  font-size: 16px;
  width: fit-content;
  cursor: pointer;
}
.Profile-goals-add:hover {
  text-decoration: underline;
}