.Counter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Counter-input {
  text-align: center; 
  color: white;

  border-radius: 5px;
  
  padding: 0;
  padding-bottom: 2px;
  
  width: 89px;
  height: 50px;

  font-weight: 100;
  font-size: 46px;
}

.Counter-change-value {
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  margin: 18px;
  padding: 6px;
  border-radius: 10000px;
}

.Counter-change-value > * {
  opacity: 0.5;

  transition: opacity 0.1s;
}

.Counter-change-value:hover > * {
  opacity: 1;
}


/* Minified Version Overrides */
.Counter.small {
  height: 40px;
}

.Counter.small .Counter-input {
  font-size: 28px;
  height: 34px;
  width: 63px;
}

.Counter.small .Counter-change-value {
  padding: 4px;
}