.HrText {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 20px;
  width: 100%;
}

.HrText hr {
  width: 100%;
  opacity: 0.3;
  border-right-color: transparent;
}

.HrText-front {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;

  width: 100%;

  bottom: 3px;
}

.HrText-front p {
  padding: 0 8px;
  font-weight: 200;
  color: rgb(241, 241, 241)
}