.InfoBorder {
  position: relative;

  height: 100%;
  width: 100%;

  border: 1px solid rgb(73, 73, 73);
  border-radius: 12px;

  padding: 5px;
}

.InfoBorder.button:hover {
  cursor: pointer;
}

/* Title */
.InfoBorder-title {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: -10px;
  left: 0;
}
.InfoBorder-title > div {
  width: fit-content;
  margin: 0 auto;
  padding: 0 12px;
}

/* Center-bottom Button */
.InfoBorder-button {
  position: absolute;
  width: 100%;
  bottom: -11px;
  font-size: 0.78em;
  z-index: 1;
  left: 0;
}
.InfoBorder-button p {
  opacity: 0.8;
}
.InfoBorder-button > div {
  width: fit-content;
  margin: 0 auto;
  padding: 4px 16px;
  border-radius: 10000px;
  border: 1px solid rgb(73, 73, 73);
  cursor: pointer;
}

/* Header left & right items */
.InfoBorder-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  white-space: nowrap;

  margin: 0 auto;

  width: 90%;
  position: absolute;
  left: 5%;
  top: -7px;
}
.InfoBorder-head-right {
  text-align: right;
}
.InfoBorder-head-left {
  text-align: left;
}

/* Footer left & right items */
.InfoBorder-foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  white-space: nowrap;

  margin: 0 auto;

  z-index: 0;

  width: 90%;
  position: absolute;
  left: 5%;
  bottom: -7px;
}
.InfoBorder-foot-right {
  text-align: right;
}
.InfoBorder-foot-left {
  text-align: left;
}