.PrimaryButton {
  position: relative;
  cursor: pointer;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  min-width: 270px;
  max-width: 400px;
  width: 75%;
  height: 52px;

  margin: 0 auto;

  background: #1C476F;

  border-radius: 10000px;
}
.PrimaryButton h2 {
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 0.03em;
}


.PrimaryButton-logo {
  overflow:visible;
  position: absolute;
  padding-right: 80%;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: auto;
}
