.ReactIconButton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  cursor: pointer;
  background-color: transparent;

  max-height: 40px;
  min-height: 40px;
  max-width: 40px;
  min-width: 40px;

  transition: background-color 0.2s;
}

.ReactIconButton:hover {
  background: rgba(255,255,255,0.08);
}

.rib-text {
  font-size: 9px;
}