.SecondaryButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;

  border-radius: 10000px;
  border: 1px solid rgba(128, 128, 128, 0.376);
  padding: 11px 18px;

  min-width: 180px;
  max-width: 300px;
  width: 100%;
}

.SecondaryButton p {
  font-weight: 100;
}