.Tag {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  opacity: 1;
  pointer-events: none;
  
  width: fit-content;
  height: fit-content;

  margin: 0 3px;
  padding: 2px 12px;

  line-height: normal;

  border-radius: 10000px;

  transition: opacity 0.2s, background-color 0.2s, color 0.2s;
  white-space: nowrap;
}
.Tag * {
  pointer-events: none;
}

.Tag.toggle {
  pointer-events: auto;
}

.Tag > p {
  opacity: 0.6;

  transition: opacity 0.2s;
}
.Tag:hover > * {
  opacity: 1;
}

.Tag-icon {
  margin-right: 4px;
  color: rgba(255, 255, 255, 0.668);
  opacity: 0.5;
  transition: opacity 0.2s;
}

.Tag p {
  font-weight: 300;
  font-size: 13px;
}

.Search-tags {
  display: flex;
}

.Tag.match-color-text * {
  opacity: 1;
}