.Search { 
  position: relative;
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;
}
.Search h2 {
  font-size: 19px;
  font-weight: 200;
}

.Search p,
.Search h2 {
  white-space: nowrap;
}

.Search .Routine,
.Search .Exercise {
  overflow: hidden;
}

.Search-bar {
  padding: 13px;
  padding-left: 44px;

  border-radius: 10000px;

  color: rgba(255, 255, 255, 0.593);

  margin: 0 15px;
  margin-bottom: 3px;
}
.Search input::placeholder {
  color: white;
  font-weight: 100;
  opacity: 0.3;
}

.Search-icon {
  position: absolute;
  opacity: 0.3;
  left: 30px;
  top: 11px;
}

.Search-clear {
  position: absolute;
  opacity: 0.3;
  right: 30px;
  top: 11px;
}

.Search-tags {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  overflow-x: scroll;

  min-height: 34px;
}