.SessionHeader {
  flex: 0 0;
  padding: 6px;
  padding-top: 7px;
  position: relative;
}

.SessionHeader-items {
  display: flex;
  justify-content: space-between;
}

.SessionHeader-title {
  position: absolute;
  width: 100%;
}

.SessionHeader-timer {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  position:relative;
  left: 4px;

  min-width: 71px;
  height: 100%;
}