.Week {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  height: 100%;  
  width: 100%;

  padding: 0 4px;
}

.Week:first-of-type {
  padding-top: 4px;
}
.Week:last-of-type {
  padding-bottom: 4px;
}
